[build]
  command = "npm install && npm run build"  # æˆ– "yarn install"
  publish = "."       

[functions]
  directory = "functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
